body{
    display: flex;
    flex-direction: column;
    background-color: rgb(93, 175, 175);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 240px;
    height: auto;
}

h2{
    color: rgb(139, 3, 3);
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 48px;
}

.content{
    display: flex;
}